body {
	height: 100%;
	width: 100%;
}
#root {
	height: 100%;
	width: 100%;
}
#app {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
}
#welcome {
	background-image: url('./hero.jpg');
	background-color: hsla(50, 33%, 25%, 0.75);
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 25vh 75vh;
	justify-items: center;
	align-items: center;
}

#welcome > .title-container {
	padding: 1.2rem;
	border: 1px solid black;
	border-radius: 1rem;
	background: rgba(255, 255, 255, 0.95);
	box-shadow: 0 0 5px black;
}
#login-register {
	justify-self: center;
	align-self: start;
	border: 1px solid black;
	box-shadow: 0 0 10px black;
	padding: 20px;
	height: 80%;
	background: lightgray;
	display: grid;
	grid-template-rows: 10% 90%;
}
#login-form {
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(5, 1fr);
}
#login-form > .title-container,
#register-form > .title-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	text-shadow: 0 0 1px black;
}
#login-form > h2,
#register-form > h2 {
	justify-self: start;
	align-self: center;
	text-decoration: underline;
}
#login-form > button,
#register-form > button {
	font-weight: bold;
	height: 50%;
	width: 100%;
	justify-self: center;
	align-self: center;
}
#register-form {
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(5, 1fr);
}
#customer-list-container {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 10% 10% 80%;
	background: whitesmoke;
}
#add-customer {
	justify-self: center;
	align-self: center;
}
#app-bar {
	display: grid;
	grid-template-columns: 10% 70% 10% 10%;
	grid-template-rows: 1fr;
	grid-template-areas: 'logo welcome logout theme';
	justify-items: center;
	align-items: center;
}
#logo {
	grid-area: logo;
}
#logout {
	grid-area: logout;
	color: white;
}
#theme-toggle {
	grid-area: theme;
	color: white;
}
.modal-content {
	margin: 15% auto;
	height: 50%;
	width: 50%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(5, 1fr);
	align-items: center;
	padding: 20px;
}
.modal-content > h5 {
	font-weight: bold;
	text-align: center;
}
.btn-group {
	justify-self: center;
	align-self: center;
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	background: inherit;
}
.btn-group > button {
	font-weight: bold;
	color: white;
	border: 1px solid black;
}

.btn-group > button.active {
	background: darkorange;
}
